<div class="jumbotron">
    <%= image_tag("logo.png", alt: "talkso.me") %>
    <h3>Restriction breeds creativity.</h3>
    <div>
        <a class="btn" href="su">Sign Up</a>
        <a href="login">Log in</a>
    </div>
</div>