<% provide(:pagetype, 'splash') %>

<div class="jumbotron">
    <%= image_tag("logo.png", alt: "talkso.me") %>
    <h3>This website is incomplete, don't use it yet</h3>
    <div>
        <%= link_to "Sign Up", 'su', class: 'btn' %>
        <%= link_to "Log In", 'li' %>
    </div>
</div>