<% provide(:title, "Reset Password") %>
<% provide(:colorscheme, 'light') %>
<h1>Reset Password</h1>

<%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>

    <%= f.submit "Submit", class: "btn" %>
<% end %>