/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    display: none;
}
nav li {
    display: inline-block;
    list-style: none;
}
nav a {
    padding: 7px 10px;
    text-decoration: none;
}
nav a:hover {
    background: #eee;
}
h3 {
    font-family: 'FabfeltScript', 'Nunito Sans', Helvetica, sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.btn {
    border: solid 2px #333;
    background: #333;
    color: white;
    padding: 7px 10px;
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
}
.btn:hover {
    background: transparent;
    color: #333;
    transition: .3s;
}
.jumbotron div a:last-of-type {
    padding: 7px 10px;
    text-decoration: none;
}
article {
    padding: 100px;
}
h1 {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 20px;
}
form {}
input[type="email"],
input[type="text"],
input[type="password"] {
    border: solid 1px #999;
    padding: 5px;
    margin-bottom: 10px;
    font: inherit;
    border-radius: 5px;
    transition: .3s;
}
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #000;
    transition: .3s;
}
input[data-disable-with="Join"] {
    background: grey;
}
::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
}