@font-face {
    font-family: 'FabfeltScript';
    font-style: normal;
    font-weight: 400;
    src: local('FabfeltScript'), url('fabfeltscript-bold.ttf') format('truetype');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url('https://fonts.gstatic.com/s/nunitosans/v1/iJ4p9wO0GDKJ-D5teKuZqogp9Q8gbYrhqGlRav_IXfk.woff2') format('woff2');
    unicode-range: U+0000-00FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    background-color: #fff;
    color: #333;
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}
.alert {
    margin: 10px 0 20px;
    padding: 20px;
    position: absolute;
    left: 100px;
    top: 20px;
}
.alert p {
    margin: 10px;
}
.alert-success {
    border: solid 1px #29cf5d;
    background: #bdffc1;
    color: #398a48;
    width: calc(100vh - 200px);
}
.alert-danger {
    border: 2px solid red;
    padding: 7px;
    margin-bottom: 20px;
    background: #ffa7a7;
    color: #b91b1b;
}
.alert-danger ul {
    margin: 0 0 10px 30px;
}

label {
    display: block;
}
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
footer {
    width: 100%;
    text-align: center;
    padding: 20px;
}